{% extends "base.html" %}

{% block title %}
About
{% endblock %}
{% block content%}

<div class="content">
    <h1>Customized<br><span><big>ONLINE EXAM</big></span> <br>System</h1>
            
<p >
<h4><i>The customized online examination system allows users to:</i></h4>    

Prepare Own Tests: Users have the ability to create their own tests by adding questions, defining answer options, and setting time limits. This feature enables flexibility and customization in designing assessments according to specific requirements.</p>

Store Questions: The system provides a question bank or database where questions can be stored and organized. Users can categorize questions based on subjects, topics, difficulty levels, or any other relevant criteria. This centralized storage ensures easy access to questions for future test creation.
</p>
Send Results to Students: After students complete the online tests, the system automatically evaluates their answers and generates result reports. These reports can be sent to students via email, providing them with immediate feedback on their performance. It allows for efficient and timely communication of results, promoting transparency and facilitating the learning process.
</p>
Customizable Email Notifications: The system allows customization of email notifications, enabling personalized messages to be sent to students. These notifications can include test details, result summaries, and additional information to enhance the user experience and ensure clarity in communication.
</p>
Scalability and Efficiency: The system is designed to handle a large number of users, tests, and questions efficiently. It provides a user-friendly interface for easy navigation, intuitive test creation, and smooth result generation. Additionally, it ensures data security and privacy to maintain the integrity of the examination process.
</p>
Overall, this customized online examination system offers flexibility, efficiency, and convenience for test creation, question storage, and result dissemination, enhancing the overall assessment experience for both educators and students.
</p>




            </p>
                <script type="text/javascript">
                function tell(){
                    alert("Please Sign-Up or LOGIN");
                }
                </script>
                <button class="btnn" onclick="tell()">JOIN US</button>

</div>

{% endblock %}
