{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content%}
<div class="form">
	<h1 class="text"> Contact</h1>
	<h3>
		Phone No:
	</h3>
	<a class="link11" href="#" > 8367063098</a>
	<br>
	<h3>
		Email Id:
	</h3>
	<a class="link11" href="https://mail.google.com/mail/?view=cm&to=saikumap@gmail.com" > saikumap@gmail.com</a>
	<br>
	<h3>
		Social Media:
	</h3>
	<div class="icons">
                        <a href="https://www.facebook.com/profile.php?id=100037793115402"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="https://www.instagram.com/sa.ikumar__007__009/"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div></div>
{% endblock %}