{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content%}
<style type="text/css">
	.box1{
		height: auto;
		width: 400px;
		background-color: #E5D3B3;
		color: brown;
		text-align: center;
		border: 4px solid burlywood;
		border-radius: 30px;

	}
	.box1 h4 {
		
		color:brown;
	}
	.box1 a h4:hover{
	color: gold;	
	}
	
	.box1:hover{
		height:auto;
		width: 400px;
		background-color: blanchedalmond;
		border: 4px solid brown;
		border-radius: 30px;			
	}
	.form1:hover{
		height: auto;
		width: 800px;
		color: brown;
		
		font-size: 17px;
		border-radius: 30px;
		background-color: blanchedalmond;
		border: 6px solid brown;

	}
	.form1{
		height: auto;
		width: 800px;
		color:brown;
		font-size: 17px;
		border-radius: 30px;
		background-color: #E5D3B3;
		border: 6px solid burlywood;

	}

dd {
  display: block;
  display: list-item;
  margin-left: 60px;
}	
</style>

<div class="box1">
	<h1>HELP </h1>
</div>
<br>
<div class="box1">
	<a  href="#register1">
	<h4>
	1.How to Register The webiste?
	</h4>

	</a>
	
	<a  href="#register2">
	<h4>
	2.How to Login The webiste?
	</h4>
	</a>
	<a  href="#register2.1">
	<h4>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1How to Rest The Password?
	</h4>
	</a>

	
	<a  href="#register3">
	<h4>
	3.How to Write the Tests?
	</h4>
	
	</a>
	<a  href="#register4">
	<h4>4.How to check the Results?
	</h4>
	
	</a>
	<a  href="#register5">
	<h4>5.Services Provided by the Webiste?
	</h4>
	
	</a>
<a  href="#register6">
	<h4>6.how to contact us?
	</h4>
	
	</a>
</div>
<br>

	<div class="box1">
	<h1>HELP BREF</h1>
</div>
<br>


<div class="form1">
		<dl>
<dt>
<label id="register1">
<b>
Register
</b>
</label>
</dt>
<dd>
<p>

To Register you need to Have Gmail id must for authentication.
			only you can select Tutor and User
			and enter your Email
			Fisrt name and last name
			password Two times.
			After clicking Register you will send to Otp verification and OTP will send to your mail.
		</p>Register>Fill Details>Cilck Register>Verify OTP>account Created Successfully
		</p>
</dd>
<br>
<dt>
<label id="register2">
		<b>
		Login
		</b></label>
		</dt>
		<dd>
		<p>
			You can Login with your Email and Password in Login page.
			</p>
			Login Here>Enter Email Password> Click Login
		</p>
		</dd>
		<dt>
		<label id="register2.1">
			<b>
		Reset	
		</b>
		</label>
	</dt>
	<dd>
		<p>
		We can reset by. clicking on reset and then. we have to enter the email with registered. and also you have to verify OTP and enter the new password. OTP verification and entering new password should be done same time because at same time it will take the Inputs once successfully verified your password. Your password will be changed. so you can Login with new password and registered id
	</p>
	
	</dd>

	<br>
	<dt>
	<label id="register3"><b>
		Test
		</b></label>
		</dt><dd><p>
			You can write three kinds of tests here. One is Multiple choice questions. And second one is filling the blanks. And the third one is voice test, like Amazon. By clicking on nav bar You can see several options. Then click on exams then you can three options.
<br>

<ul  type="none">
	<li>VOICE</li>
	<li>MCQ</li>
	<li>FIll</li>
</ul>
</p></dd>
	<br>
	<dt>
	<label id="register4">
		<b>Result</b>
	</label>
	</dt>
<dd>
	<p>
		You can view the results in two areas. One is your dashboard. Direct link to the results. And another one is there is a direct link on nav bar. to the results. you can watch the results in graphical form. It is a pie chart.
	</p>
</dd>
	<br>
	<dt>
	<label id="register5"><b>Sevices</b></label>
	<br></dt>
	<dd>
	<p>
		Services are provided to write exams of three kinds. And to store the results. and send Message to through mail. The results will be. message to the. mail id of the registered email of user. Three kinds of services are Filling the blanks. Voice test. and also multiple choice questions.
	</p>
</dd>
<dt>
<label id="register6"><b>Contact</b></label>
	<br>
	</dt>
	<dd>
	<p>
		You can contact us through mail. Facebook and also. Instagram, all the icons are given below the registration form. And also login form.
	</p>
</dd>
</dl>
</div>


{% endblock %}