{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content%}

<title>update</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/makelogs.css') }}">	
<div class="form">
		<form action="/verifys" method="post">
			<h1 align="center">
				Enter your Otp
			</h1>
			<input type="text" id="otp" name="otp" placeholder="OTP" required>
			<input type="password" id="password" name="password" placeholder="NEW-PASSWORD" required>
			<br>
			<center>
			<button class="btnn" type="submit">Submit </button>	
			</center>
			

		</form>
		 <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>&nbsp;&nbsp;
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
	</div>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}