<div class="form">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<a class="btnn" id="mylink"  href="{{url_for('auth.record',i=i)}}">start_to_record</a>
<input type="text"  name="word" onclick="record()" id="SpeechToText" placeholder="Speech" readonly>
<p id=ass ></p>
  
</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/makelogs.css') }}">


<script type="text/javascript">
	function handleClick() {
  add(); // Call the add() function
  setTimeout(function() {
    window.location.href = document.getElementById("mylink").href; // Navigate to the next page
  }, 10000); // Delay for 1 second before navigating
}
  
    function record() {
      // Check if browser supports the Web Speech API
      if ('webkitSpeechRecognition' in window) {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = 'en-US';
        recognition.continuous = true;  
        recognition.interimResults = true; 

        recognition.onresult = function(event) {
          console.log(event);
          var transcript = event.results[0][0].transcript;
          document.getElementById('SpeechToText').value = transcript;
        };

        recognition.start();

        // Stop recognition after a specific duration (in milliseconds)
        var recognitionDuration = 120000; // 2 minutes
        setTimeout(function() {
          recognition.stop();
        }, recognitionDuration);
      } else {
        alert('Web Speech API is not supported in this browser.');
      }
    }
  

</script>
